<table>
  <% for scientific_rank in @scientific_ranks %>
    <tr>
      <td>
        <%= scientific_rank.name %>
      </td>
      <td>
        <%= button_to("удалить", {:controller => '/admin/dictonary/scientific_rank', :action => 'destroy', :id => scientific_rank.id})%>
      </td>
      <td>
        <%= button_to("изменить", {:controller => '/admin/dictonary/scientific_rank', :action => 'edit', :id => scientific_rank.id}, :method => :get)%>
      </td>
    <tr>
  <% end %>
</table>
<%= button_to("добавить", {:controller => '/admin/dictonary/scientific_rank', :action => 'new'}, :method => :get) %>
