<!DOCTYPE html>
<html>
<head>
  <title>Регистрация</title>
  <%= stylesheet_link_tag    "user/register", :media => "all" %>
  <%= javascript_include_tag "/assets/jquery.js", "/assets/jquery_ujs.js", "/assets/user/register" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>

</body>
</html>
